argparse
dill
fire
matplotlib
numba
psutil
pycocotools
requests
scikit-image
scipy
slidingwindow
tqdm
tensorflow-gpu==2.5.3
git+https://github.com/ppwwyyxx/tensorpack.git
git+https://github.com/ildoonet/tf-pose-estimation.git#egg=tf-pose
